In [1]:
# Import libraries
import glob
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

In [2]:
# Get CSV files list from a folder
path = 'Weather_Data'
csv_files = glob.glob(path + "/*.csv")

df_list = (pd.read_csv(file).iloc[1:] for file in csv_files)

# Concatenate all DataFrames
weather_data = pd.concat(df_list, ignore_index=True)

c:\Users\aajin\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\reshape\concat.py:348: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  objs = list(objs)

In [3]:
weather_data.head()

,time,depth,latitude,longitude,Tdir,Tper,Thgt,sdir,sper,shgt,wdir,wper,whgt
0,2022-09-08T19:00:00Z,0.0,-77.5,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-09-08T19:00:00Z,0.0,-77.5,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-09-08T19:00:00Z,0.0,-77.5,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-09-08T19:00:00Z,0.0,-77.5,1.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-09-08T19:00:00Z,0.0,-77.5,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def missing_statistics(df):
    statitics = pd.DataFrame(df.isnull().sum()).reset_index()
    statitics.columns = ['COLUMN NAME', "MISSING VALUES"]
    statitics['TOTAL ROWS'] = df.shape[0]
    statitics['% MISSING'] = round(
        (statitics['MISSING VALUES']/statitics['TOTAL ROWS'])*100, 2)
    return statitics


missing_statistics(weather_data)

   COLUMN NAME  MISSING VALUES  TOTAL ROWS  % MISSING
0         time               0    12539520       0.00
1        depth               0    12539520       0.00
2     latitude               0    12539520       0.00
3    longitude               0    12539520       0.00
4         Tdir         4835194    12539520      38.56
5         Tper         4833808    12539520      38.55
6         Thgt         4833808    12539520      38.55
7         sdir         5445000    12539520      43.42
8         sper         5445000    12539520      43.42
9         shgt         5445000    12539520      43.42
10        wdir         8086580    12539520      64.49
11        wper         8086580    12539520      64.49
12        whgt         8086580    12539520      64.49

In [5]:
# Dropping rows with na
weather_data.dropna(inplace=True, axis=0)
weather_data.reset_index(drop=True, inplace=True)

In [6]:
import datetime
from dateutil import parser


def convertISOtoLocal(isoString):
    return parser.parse(isoString).replace(tzinfo=datetime.timezone.utc).astimezone().strftime("%d/%m/%Y %I:%M:%S %p")

In [7]:
# converting all the ISO timestrings in
# "time" attribute to IST timezone
# weather_data["time"] = weather_data["time"].apply(lambda x: convertISOtoLocal(x))

In [8]:
weather_data.head()

,time,depth,latitude,longitude,Tdir,Tper,Thgt,sdir,sper,shgt,wdir,wper,whgt
0,2022-09-08T19:00:00Z,0.0,-77.0,207.5,121.0,1.9193857,0.17,18.0,3.04,0.06,124.0,1.92,0.14999999
1,2022-09-08T19:00:00Z,0.0,-77.0,208.0,129.0,1.8832392,0.17,6.0,3.22,0.06,138.0,1.87,0.16
2,2022-09-08T19:00:00Z,0.0,-76.5,207.5,102.0,2.173913,0.14999999,21.0,2.8799999,0.06,110.0,2.1499999,0.14
3,2022-09-08T19:00:00Z,0.0,-76.0,211.5,66.0,2.5188916,0.12,38.0,2.87,0.08,109.0,2.1599998,0.089999996
4,2022-09-08T19:00:00Z,0.0,-76.0,212.0,31.0,2.8985505,0.12,39.0,2.8999999,0.08,126.0,1.4499999,0.08

In [9]:
# getting unique values of time ranges
weather_data = weather_data.iloc[1:]
allTimeRanges = weather_data["time"].unique()

# removing all occurence of the word "UTC"
allTimeRanges = allTimeRanges[allTimeRanges != "UTC"]
allTimeRanges

array(['2022-09-08T19:00:00Z', '2022-09-08T20:00:00Z',
       '2022-09-08T21:00:00Z', '2022-09-08T22:00:00Z',
       '2022-09-08T23:00:00Z', '2022-09-09T00:00:00Z',
       '2022-09-09T01:00:00Z', '2022-09-08T00:00:00Z',
       '2022-09-08T01:00:00Z', '2022-09-08T02:00:00Z',
       '2022-09-08T03:00:00Z', '2022-09-08T04:00:00Z',
       '2022-09-08T05:00:00Z', '2022-09-08T06:00:00Z',
       '2022-09-08T07:00:00Z', '2022-09-08T08:00:00Z',
       '2022-09-08T09:00:00Z', '2022-09-08T10:00:00Z',
       '2022-09-08T11:00:00Z', '2022-09-08T12:00:00Z',
       '2022-09-08T13:00:00Z', '2022-09-08T14:00:00Z',
       '2022-09-08T15:00:00Z', '2022-09-08T16:00:00Z',
       '2022-09-08T17:00:00Z', '2022-09-08T18:00:00Z',
       '2022-09-09T02:00:00Z', '2022-09-09T03:00:00Z',
       '2022-09-09T04:00:00Z', '2022-09-09T05:00:00Z',
       '2022-09-09T06:00:00Z', '2022-09-09T07:00:00Z',
       '2022-09-09T08:00:00Z', '2022-09-09T09:00:00Z',
       '2022-09-09T10:00:00Z', '2022-09-09T11:00:00Z',
       '2022-09-09T12:00:00Z', '2022-09-09T13:00:00Z',
       '2022-09-09T14:00:00Z', '2022-09-09T15:00:00Z',
       '2022-09-09T16:00:00Z', '2022-09-09T17:00:00Z',
       '2022-09-09T18:00:00Z', '2022-09-09T19:00:00Z',
       '2022-09-09T20:00:00Z', '2022-09-09T21:00:00Z',
       '2022-09-09T22:00:00Z', '2022-09-09T23:00:00Z',
       '2022-09-10T00:00:00Z'], dtype=object)

In [10]:
# working on only 1 time range for now
x_subset = weather_data.loc[weather_data["time"] == allTimeRanges[0]]
x_subset.shape

(140879, 13)

In [45]:
def roundToNearestLoc(val):
    return round(val * 2) / 2

roundToNearestLoc(30.81422)

31.0