In [182]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, mean_squared_error
import numpy as np
import seaborn as sns

Reading only the following columns => `wdir` | `Tper` | `sper` | `Tdir` | `sdir` | `Length` | `Width`

In [163]:
fields = [
    'whgt',
    'wper',
    'wdir',
    'Tper',
    'sper',
    'Tdir',
    'sdir',
    # 'Length',
    # 'Width',
    "SOG",
    "VesselType"
]

In [164]:
# reading selective columns for our model
df = pd.read_csv("./Draft Cleaned Merged.csv", skipinitialspace=True, usecols=fields)
df.head()

    Tdir      Tper   sdir  sper   wdir  wper  whgt  SOG  VesselType
0  198.0  6.024096  213.0   5.9  296.0  2.49  0.28  9.7        80.0
1  198.0  6.024096  213.0   5.9  296.0  2.49  0.28  9.7        80.0
2  198.0  6.024096  213.0   5.9  296.0  2.49  0.28  9.8        80.0
3  198.0  6.024096  213.0   5.9  296.0  2.49  0.28  9.8        80.0
4  198.0  6.024096  213.0   5.9  296.0  2.49  0.28  9.9        80.0

In [165]:
df = df[df["SOG"] > 0.0]

In [166]:
df.shape

(4402, 9)

In [167]:
Y = df[["SOG"]]
X = df.drop("SOG", axis=1)

In [191]:
# cross validation technique being applied => test-train split
x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size= 0.25, random_state=0)

In [192]:
x_train.shape

(3301, 8)

In [193]:
reg_model = LinearRegression()
reg_model.fit(x_train, y_train)
reg_model.score(x_test, y_test)

0.2955754831071512

In [194]:
# Fitting Polynomial Regression to the dataset
from sklearn.preprocessing import PolynomialFeatures
poly_model = PolynomialFeatures(degree=3, include_bias=False)
poly_features = poly_model.fit_transform(X)

In [195]:
# cross validation technique being applied => test-train split
x_train, x_test, y_train, y_test= train_test_split(poly_features, Y, test_size= 0.25, random_state=0)

In [196]:
# we use linear regression as a base
poly_reg_model = LinearRegression()
poly_reg_model.fit(x_train, y_train)
poly_reg_model.score(x_test, y_test)

0.6958324663619755

In [197]:
X.head(100)

     Tdir      Tper   sdir  sper   wdir  wper  whgt  VesselType
0   198.0  6.024096  213.0  5.90  296.0  2.49  0.28        80.0
1   198.0  6.024096  213.0  5.90  296.0  2.49  0.28        80.0
2   198.0  6.024096  213.0  5.90  296.0  2.49  0.28        80.0
3   198.0  6.024096  213.0  5.90  296.0  2.49  0.28        80.0
4   198.0  6.024096  213.0  5.90  296.0  2.49  0.28        80.0
..    ...       ...    ...   ...    ...   ...   ...         ...
95  180.0  6.896551  212.0  6.27  307.0  2.70  0.37        80.0
96  180.0  6.896551  212.0  6.27  307.0  2.70  0.37        80.0
97  180.0  6.896551  212.0  6.27  307.0  2.70  0.37        80.0
98  180.0  6.896551  212.0  6.27  307.0  2.70  0.37        80.0
99  180.0  6.896551  212.0  6.27  307.0  2.70  0.37        80.0

[100 rows x 8 columns]

In [198]:
Y.head(100)

    SOG
0   9.7
1   9.7
2   9.8
3   9.8
4   9.9
..  ...
95  9.9
96  9.9
97  9.9
98  9.9
99  9.9

[100 rows x 1 columns]

In [199]:
poly_reg_model.predict(poly_model.fit_transform([[
    180.0,	6.896551,	212.0,	6.27,	307.0,	2.70,	0.37, 80,
]]))

array([[9.884375]])